body {
  overflow-x: hidden;
}

.top-margin-lg {
  margin-top: 100px;
}

.top-margin-md {
  margin-top: 50px;
}

.bottom-margin-lg {
  margin-bottom: 100px;
}

.bottom-margin-sm {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#buttonsDiv {
position: absolute;
top: 85px;
right: 30px;
padding: 12px;
background-color: rgba(200, 200, 200, 0.5);
border: 1px solid black;
}

#indicatorSpan {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: rgba(100, 100, 100, 0.8);
  border: 2px solid #ccc;
}

#editArea {
  background-color: white;
}

#infoDiv{
  position: absolute;
  top: 70px;
  left: 15px;
}

#infoDiv input {
  border: none;
  box-shadow:  rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.esri-zoom {
  position: fixed;
  top: 110px;
}

.esri-navigation-toggle {
  position: fixed;
  top: 180px;
}

.esri-compass {
  position: fixed;
  top: 250px;
}

.esri-sketch {
  position: fixed;
  top: 80px;
}

.editArea-container {
  background: #fff;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  overflow: auto;
  padding: 12px 15px;
  width: 300px;
}

.list-heading {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #323232;
}

.or-wrap {
  background-color: #e0e0e0;
  height: 1px;
  margin: 2em 0;
  overflow: visible;
}

.or-text {
  background: #fff;
  line-height: 0;
  padding: 0 1em;
  position: relative;
  bottom: 0.75em;
}

/* override default styles */
.esri-feature-form {
  background: #fff;
}

.esri-feature-templates {
  width: 280px;
}

.esri-feature-templates__section-header {
  display: none;
}

.esri-feature-templates__section {
  box-shadow: none;
}

.esri-feature-templates__list {
  max-height: 180px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  padding: 20px 20px 20px 0px;
}

 #footer_contact {
   text-decoration: none;
   text-align: right;
   color: white;
 }

 footer a, p {
   text-decoration: none;
   color: #949495;
   font-size: 13px;
   margin-bottom: 0;
 }

 footer a:hover {
   text-decoration: none;
   color: white;
 }
