<!-- Inheriting base html from bootstrap's base file, which includes all necessary html tags -->
{% extends 'bootstrap/base.html' %}


<!-- use blocks to customize base and other html files -->
{% block title %}
  Capstone
{% endblock %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}


{% block scripts %}
  {{ super() }}
  <!-- jQuery JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/app.js"></script>
{% endblock %}


{% block navbar %}
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">Capstone</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          {% if title == 'Home' %}
          <li class="nav-item active">
          {% else %}
          <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>

          {% if title == '3D Scene' %}
          <li class="nav-item active">
          {% else %}
          <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{{ url_for('sceneview') }}">3D Scene</a>
          </li>

          {% if title == 'Switch 2D to 3D' %}
          <li class="nav-item active">
          {% else %}
          <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{{ url_for('switch') }}">Switch 2D to 3D</a>
          </li>

          {% if title == 'Sketch Footprint' %}
          <li class="nav-item active">
          {% else %}
          <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{{ url_for('sketch') }}">Sketch Footprint</a>
          </li>

          {% if title == 'Feature Form' %}
          <li class="nav-item active">
          {% else %}
          <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{{ url_for('form') }}">Feature Form</a>
          </li>

        </ul>
      </div>
    </nav>
  </div> <!--ends col 12 for nav -->
</div> <!--ends row for nav -->
{% endblock %}


{% block content %}
  <!-- block app content allows us to keep base content that is similar to all files, i.e. a footer -->

  {% block app_content %}{% endblock %}

  <footer>
    <div class="row">
      <div id="footer_contact" class="col-md-12">
        <h6>CONTACT</h6>
        <p><a href="mailto:heather.m.cormier@gmail.com">heather.m.cormier@gmail.com</a></p>
        <p><a href="https://heathercormier.weebly.com/gis-portfolio.html">GIS Portfolio</a></p>
      </div> <!-- ends col 4 -->
    </div> <!-- ends row -->
  </footer>
{% endblock %}
