{% extends 'base.html' %}

{% block metadata %}
  <ul>
    {% for key, item in metadata %}
      <meta name="{{key}}" content="{{ item }}" />
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    {% endfor %}
  </ul>
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- ArcGIS API CSS -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- ArcGIS API JS -->
  <script src="https://js.arcgis.com/4.10/"></script>
  <script>
    require([
      "esri/Map",
      "esri/views/SceneView",
      "esri/WebMap",
      "esri/WebScene",
      "esri/layers/FeatureLayer",
      "esri/layers/GraphicsLayer",
      "esri/Graphic",
      "esri/widgets/Expand",
      "esri/widgets/FeatureForm",
      "esri/widgets/FeatureTemplates",
      "esri/widgets/Sketch"
    ], function(Map, SceneView, WebMap, WebScene, FeatureLayer, GraphicsLayer, Graphic, Expand, FeatureForm, FeatureTemplates, Sketch) {

      let editFeature, highlight;

      var switchButton = document.getElementById("switch-btn");

      var appConfig = {
        mapView: null,
        sceneView: null,
        activeView: null,
        container: "viewDiv" // use same container for views
      };

      var initialViewParams = {
        zoom: 12,
        center: [-70.939171, 42.150012],
        container: appConfig.container
      };

      // ----------- start initialize layers/maps/views ----------- //
      // ---------------------------------------------------------- //
      var webmap = new WebMap({
        portalItem: { // autocasts as new PortalItem()
          id: "b1df47f08ad84879a624dc4899a22dd7"
        }
        // url: "https://southfieldra.maps.arcgis.com/home/webmap/viewer.html?webmap=b1df47f08ad84879a624dc4899a22dd7"
      });

      var webscene = new WebScene({

      })

      var layer = new GraphicsLayer();

      // Code to create the map
      var map = new Map({
        basemap: "dark-gray",
        ground: "world-elevation"
      });

      // Code to create the 3D view
      var view = new SceneView({
        container: "viewDiv", // Reference to the DOM node that will contain the view
        map: map, // References the map object created above
      });

      var renderer_bldg = {
        type: "unique-value", // autocasts as new UniqueValueRenderer()
        defaultSymbol: {
          type: "polygon-3d", // autocasts as new PolygonSymbol3D()
          symbolLayers: [{
            type: "extrude", // autocasts as new ExtrudeSymbol3DLayer()
            material: {
              color: "#A7C636"
            },
            edges: {
              type: "solid",
              color: "#4d5b18",
              size: 1.5
            }
          }]
        },
        visualVariables: [{
          type: "size",
          field: "Height_m",
          valueUnit: "meters" // Extrudes all data values in meters
        }]
      };

      var existing_bldgs= new FeatureLayer({
        url: "https://services9.arcgis.com/weq496GDPYhWyZDR/arcgis/rest/services/structures_UP/FeatureServer/0?token=S1HaLJeDfLNQ1fSq37d6s14VFYWS8yjohUjJQWmOXhuC_QJ5xbkAJidNkwtCsa7X5NmDFRt_pSdWl8IzQsbkFPMvIgGRfvYc2Rib9g572YyrNpUIbev71vY1pIUxUfSoLUogCLGgkkCM2GEkpUVOatumwQzRMCu-2SxHr9rbygAH6FU4e8gziPy0yRwhEdNSipML7nGBPWt6dBll8YQkB7AmfjvYZpSAgvSTtizfFNO3Apu1P01_VzDliUhJoIo5zsnUphHPPQ44T0r_BF2epw..",
        id: "buildingsLayer",

        renderer: renderer_bldg,
        definitionExpression: "Height_m > 0" // show only buildings with height
      });

      existing_bldgs.when(function(){
        view.goTo(existing_bldgs.fullExtent);
      });

      map.add(existing_bldgs);
      // ----------- end initialize layers/maps/views ----------- //



      // // -------------------- start 2D v. 3D switch -------------------- //
      // // --------------------------------------------------------------- //
      // // create 3D view, won't initialize until container is set
      // initialViewParams.container = null;
      // initialViewParams.map = view;
      // appConfig.sceneView = createView(initialViewParams, "3d");
      //
      // // create 2D view and set active
      // appConfig.mapView = createView(initialViewParams, "2d");
      // appConfig.mapView.map = webmap;
      // appConfig.activeView = appConfig.mapView;
      //
      //
      // // switch the view between 2D and 3D each time the button is clicked
      // switchButton.addEventListener("click", function(){
      //   switchView();
      // });
      //
      // function switchView(){
      //   var is3D = appConfig.activeView.type === "3d";
      //   var activeViewpoint = appConfig.activeView.viewpoint.clone();
      //
      //   // remove the reference to the container for the previous view
      //   appConfig.activeView.container = null;
      //
      //   if (is3D){
      //     // if the input view is a SceneView, set the viewpoint on the mapView instance. Set the container on the mapView and flag it as the active view
      //     appConfig.mapView.viewpoint = activeViewpoint;
      //     appConfig.mapView.container = appConfig.container;
      //     appConfig.activeView = appConfig.mapView;
      //     switchButton.value = "3D";
      //   } else {
      //     appConfig.sceneView.viewpoint = activeViewpoint;
      //     appConfig.sceneView.container = appConfig.container;
      //     appConfig.activeView = appConfig.sceneView;
      //     switchButton.value = "2D";
      //   }
      // }
      //
      // // convenience function for creating a 2D or 3D view
      // function createView(params, type){
      //   var view;
      //   var is2D = type === "2d";
      //   if (is2D){
      //     view = new MapView(params);
      //     return view;
      //   } else {
      //     view = new SceneView(params);
      //   }
      //   return view;
      // }
      // // -------------------- end 2D v. 3D switch -------------------- //













      // //New FeatureForm displays attributes of building height
      // var featureForm = new FeatureForm({
      //   container: "formDiv",
      //   layer: existing_bldgs,
      //   fieldConfig: [
      //     {
      //       name: "Height_m",
      //       label: "Set Building Height (meters):"
      //     }
      //   ]
      // });
      //
      // //Listen to the feature form's submit event
      // //Update feature attributes shown in the form
      // featureForm.on("submit", function(){
      //   if (editFeature) {
      //     //Grab updated attributes from the form
      //     var updated = featureForm.getValues();
      //
      //     //Loop through updated attributes and assign them to feature attributes
      //     Object.keys(updated).forEach(function(name) {
      //       editFeature.attributes[name] = updated[name];
      //     });
      //
      //     //Setup the applyEdits parameter with updates
      //     var edits = {
      //       updateFeatures: [editFeature]
      //     };
      //     applyEditsToBuildings(edits);
      //     document.getElementById("viewDiv").style.cursor = "auto"
      //   }
      // });
      //
      // //Check if the user clicked on the existing feature
      // selectExistingFeature();
      //
      // //The FeatureTemplates widget uses the 'addTemplatesDiv' element to display feature templates
      // var templates = new FeatureTemplates({
      //   container: "addTemplatesDiv",
      //   layers: [existing_bldgs]
      // });
      //
      // // Listen for when a template item is selected
      // templates.on("select", function(evtTemplate) {
      //
      //   // Access the template item's attributes from the event's template prototype
      //   attributes = evtTemplate.template.prototype.attributes;
      //   unselectFeature();
      //   document.getElementById("viewDiv").style.cursor = "crosshair";
      //
      //   // With the selected template item, listen for the view's click event and create feature
      //   var handler = view.on("click", function(event) {
      //     // remove click event handler once user clicks on the view to create a new feature
      //     handler.remove();
      //     event.stopPropagation();
      //     featureForm.feature = null;
      //
      //     if (event.mapPoint) {
      //       polygon = event.mapPoint.clone();
      //       polygon.z = 100;
      //       polygon.hasZ = true;
      //
      //       // Create a new feature using one of the selected template items.
      //       editFeature = new Graphic({
      //         geometry: polygon,
      //         attributes: {
      //           "Height_m": attributes.Height_m
      //         }
      //       });
      //
      //       // Setup the applyEdits parameter with adds.
      //       var edits = {
      //         addFeatures: [editFeature]
      //       };
      //       applyEditsToBuildings(edits);
      //       document.getElementById("viewDiv").style.cursor = "auto";
      //     } else {
      //       console.error("event.mapPoint is not defined");
      //     }
      //   });
      // });
      //
      // // Call FeatureLayer.applyEdits() with specified parameters
      // function applyEditsToBuildings(params) {
      //   // unselectFeature();
      //   existing_bldgs.applyEdits(params).then(function(editsResult) {
      //     // Get the objectId of the newly added feature.
      //     // Call selectFeature function to highlight the new feature.
      //     if (editsResult.addFeatureResults.length > 0 || editsResult.updateFeatureResults.length > 0) {
      //       unselectFeature();
      //       let objectId;
      //       if (editsResult.addFeatureResults.length > 0) {
      //         objectId = editsResult.addFeatureResults[0].objectId;
      //       }
      //       else {
      //         featureForm.feature = null;
      //         objectId = editsResult.updateFeatureResults[0].objectId;
      //       }
      //       selectFeature(objectId);
      //       if (addFeatureDiv.style.display === "block"){
      //         toggleEditingDivs("none", "block");
      //       }
      //     }
      //     // show FeatureTemplates if user deleted a feature
      //     else if (editsResult.deleteFeatureResults.length > 0){
      //       toggleEditingDivs("block", "none");
      //     }
      //   })
      //   .catch(function(error) {
      //       console.log("===============================================");
      //       console.error("[ applyEdits ] FAILURE: ", error.code, error.name,
      //         error.message);
      //       console.log("error = ", error);
      //     });
      // }
      //
      // // Check if a user clicked on an existing building
      // function selectExistingFeature() {
      //   view.on("click", function(event) {
      //     // clear previous feature selection
      //     unselectFeature();
      //     if (document.getElementById("viewDiv").style.cursor != "crosshair") {
      //       view.hitTest(event).then(function(response) {
      //         // If a user clicks on an existing building, select the building.
      //         if (response.results.length === 0) {
      //           toggleEditingDivs("block", "none");
      //         }
      //         else if (response.results[0].graphic && response.results[0].graphic.layer.id == "buildingsLayer") {
      //           if (addFeatureDiv.style.display === "block"){
      //             toggleEditingDivs("none", "block");
      //           }
      //           selectFeature(response.results[0].graphic.attributes[featureLayer.objectIdField]);
      //         }
      //       });
      //     }
      //   });
      // }
      //
      //
      // // Highlights the clicked feature and displays the feature form with the building's attributes.
      // function selectFeature(objectId) {
      //   // query feature from the server
      //   featureLayer.queryFeatures({
      //     objectIds: [objectId],
      //     outFields: ["*"],
      //     returnGeometry: true
      //   }).then(function(results) {
      //     if (results.features.length > 0) {
      //       editFeature = results.features[0];
      //
      //       // display the attributes of selected feature in the form
      //       featureForm.feature = editFeature;
      //
      //       // highlight the feature on the view
      //       view.whenLayerView(editFeature.layer).then(function(layerView){
      //         highlight = layerView.highlight(editFeature);
      //       });
      //     }
      //   });
      // }
      //
      // // Expand widget for the editArea div
      // var editExpand = new Expand({
      //   expandIconClass: "esri-icon-edit",
      //   expandTooltip: "Expand Edit",
      //   expanded: true,
      //   view: view,
      //   content: document.getElementById("editArea")
      // });
      //
      // view.ui.add(editExpand, "top-right");
      // // input boxes for the attribute editing
      // var addFeatureDiv = document.getElementById("addFeatureDiv");
      // var attributeEditing = document.getElementById("featureUpdateDiv");
      //
      // // Controls visibility of addFeature or attributeEditing divs
      // function toggleEditingDivs(addDiv, attributesDiv) {
      //   addFeatureDiv.style.display = addDiv;
      //   attributeEditing.style.display = attributesDiv;
      //
      //   document.getElementById("updateInstructionDiv").style.display = addDiv;
      // };
      //
      //
      // // Remove the feature highlight and remove attributes from the feature form
      // function unselectFeature() {
      //   if (highlight){
      //     highlight.remove();
      //   }
      // };
      //
      // // Update attributes of the selected feature
      // document.getElementById("btnUpdate").onclick = function() {
      //   // Fires feature form's submit event
      //   featureForm.submit();
      // };
      //
      // // Delete the selected feature. ApplyEdits is called with the selected feature to be deleted
      // document.getElementById("btnDelete").onclick = function() {
      //   // setup the applyEdits parameter with deletes.
      //   const edits = {
      //     deleteFeatures: [editFeature]
      //   };
      //   applyEditsToBuildings(edits);
      //   document.getElementById("viewDiv").style.cursor = "auto";
      // };
      //
      // //create a new sketch widget
      // view.when(function() {
      //   var sketch = new Sketch({
      //   view: view,
      //   layer: layer
      //   });
      //   view.ui.add(sketch, "top-right");
      // });

    });
  </script>
{% endblock %}


{% block app_content %}
<body>
  <div id="editArea" class="editArea-container">
    <div id="addFeatureDiv" style="display:block;">
      <h3 class="list-heading">Edit Buildings</h3>
      <ul style="font-size: 13px; padding-left: 1.5em;">
        <li>Select polygon shape template from the list</li>
        <li>Click on the map to start drawing a new feature</li>
        <li>Update associated attribute data</li>
        <li>Click <i>Update Building</i></li>
      </ul>
      <div id="addTemplatesDiv" style="background:#fff;"></div>
    </div>

    <div id="featureUpdateDiv" style="display:none; margin-top: 1em;">
      <h3 class="list-heading">Enter the building information</h3>
      <div id="attributeArea">
        <div id="formDiv"></div>
        <input type="button" class="esri-button" value="Update building info"
          id="btnUpdate">
      </div>
    </div>

    <div id="updateInstructionDiv" style="text-align:center; display:block">
      <p class="or-wrap">
        <span class="or-text">Or</span>
      </p>
      <p id="selectHeader">Select an existing building to edit or remove.</p>
    </div>
  </div>
  <div id="viewDiv"></div>
  <div id="infoDiv">
    <input class="esri-component esri-widget--button esri-widget esri-interactive"
      type="button" id="switch-btn" value="3D">
  </div>
</body>
{% endblock %}
