{% extends 'base.html' %}

{% block metadata %}
  <ul>
    {% for key, item in metadata %}
      <meta name="{{key}}" content="{{ item }}" />
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    {% endfor %}
  </ul>
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- ArcGIS API CSS -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- ArcGIS API JS -->
  <script src="https://js.arcgis.com/4.10/"></script>
  <script>
    require([
      "esri/widgets/Sketch",
      "esri/Map",
      "esri/layers/GraphicsLayer",
      "esri/views/MapView",
      "esri/views/SceneView",
      "esri/layers/FeatureLayer",
      "esri/PopupTemplate"
    ], function (Sketch, Map, GraphicsLayer, MapView, SceneView, FeatureLayer, PopupTemplate) {
      var switchButton = document.getElementById("switch-btn");

      var graphLayer = new GraphicsLayer();

      var appConfig = {
        mapView: null,
        sceneView: null,
        activeView: null,
        container: "viewDiv"  // use same container for views
      };

      var map = new Map({
        basemap: "dark-gray",
        ground: "world-elevation"
      });

      var renderer_2d_bldg = {
        type: "simple",  // autocasts as new SimpleRenderer()
        symbol: {
          type: "simple-fill",  // autocasts as new SimpleFillSymbol()
          color: "#A7C636",
          style: "solid",
          outline: {  // autocasts as new SimpleLineSymbol()
            color: "#4d5b18",
            width: 0.5
          }
        }
      };

      var popupTemplate = new PopupTemplate({
        title: "Population in {NAME}",
        content: "As of 2010, the population in this area was <b>{POP2010:NumberFormat}</b>." +
        "As of 2013, the population here was <b>{POP2013:NumberFormat}</b>." +
        "Percent change is {POP2013:populationChange}"
      });

      var existing_2d_bldgs= new FeatureLayer({
        url: "https://services9.arcgis.com/weq496GDPYhWyZDR/arcgis/rest/services/structures_UP_bldgUse/FeatureServer/0?token=q5H6ukgdpH1_tbTqpgaVZs9lAgkvtXVeFTDMqel6LdDV1IzdddXMXINsMOgwmtVgOIxEYC7GpQzgC8VYVcxZw2V-FmQPyoVLl40gfSVG0yv9xHTj2AnoibPPgPZNfGtu52z_8X_IIXW38dt25XXwo_pefzrFZISWCQS2ztValHnX_fasIR91jO6dE5wUTL-H8nJENCzdwzwYjmlrrsiSX_jZ9_hq4SktxWDkTkrgQynf5vSYLpHlYcFEpGoAZXbl72w3Piw7aqQjRKmJ-67y-Q..",

        renderer: renderer_2d_bldg,
        popupTemplate: popupTemplate

      });

      var renderer_3d_bldg = {
        type: "unique-value", // autocasts as new UniqueValueRenderer()
        defaultSymbol: {
          type: "polygon-3d", // autocasts as new PolygonSymbol3D()
          symbolLayers: [{
            type: "extrude", // autocasts as new ExtrudeSymbol3DLayer()
            material: {
              color: "#A7C636"
            },
            edges: {
              type: "solid",
              color: "#4d5b18",
              size: 1.5
            }
          }]
        },
        visualVariables: [{
          type: "size",
          field: "Height_m",
          valueUnit: "meters" // Extrudes all data values in meters
        }]
      };


      var existing_3d_bldgs= new FeatureLayer({
        url: "https://services9.arcgis.com/weq496GDPYhWyZDR/arcgis/rest/services/structures_UP_bldgUse/FeatureServer/0?token=q5H6ukgdpH1_tbTqpgaVZs9lAgkvtXVeFTDMqel6LdDV1IzdddXMXINsMOgwmtVgOIxEYC7GpQzgC8VYVcxZw2V-FmQPyoVLl40gfSVG0yv9xHTj2AnoibPPgPZNfGtu52z_8X_IIXW38dt25XXwo_pefzrFZISWCQS2ztValHnX_fasIR91jO6dE5wUTL-H8nJENCzdwzwYjmlrrsiSX_jZ9_hq4SktxWDkTkrgQynf5vSYLpHlYcFEpGoAZXbl72w3Piw7aqQjRKmJ-67y-Q..",

        renderer: renderer_3d_bldg,
        definitionExpression: "Height_m > 0", // show only buildings with height
        popupTemplate: popupTemplate
      });


      map.add(existing_2d_bldgs);
      map.add(existing_3d_bldgs);
      map.add(graphLayer);

      var mapview = new MapView({
        container: "viewDiv",
        map: map,
        center: [-70.941578, 42.158],
        zoom: 15
      });

      var sceneview = new SceneView({
        container: "viewDiv", // Reference to the DOM node that will contain the view
        map: map, // References the map object created above
      });

      // create 2D view and and set active
      appConfig.mapView = mapview;
      appConfig.mapView.map = map;
      appConfig.activeView = appConfig.mapView;

      // if appConfig.activeView.type === "2d":
      mapview.when(function() {
        const sketch = new Sketch({
          layer: graphLayer,
          view: mapview
        });
        mapview.ui.add(sketch, "top-right");
      });


      // create 3D view, won't initialize until container is set
      sceneview.container = null;
      appConfig.sceneView = sceneview;

      // switch the view between 2D and 3D each time the button is clicked
      switchButton.addEventListener("click", function(){
        switchView();
      });

      // Switches the view from 2D to 3D and vice versa
      function switchView(){
        var is3D = appConfig.activeView.type === "3d";
        var activeViewpoint = appConfig.activeView.viewpoint.clone();

        // remove the reference to the container for the previous view
        appConfig.activeView.container = null;

        if (is3D){
          // if the input view is a SceneView, set the viewpoint on the mapView instance. Set the container on the mapView and flag it as the active view
          appConfig.mapView.viewpoint = activeViewpoint;
          appConfig.mapView.container = appConfig.container;
          appConfig.activeView = appConfig.mapView;
          switchButton.value = "3D";
        } else {
          appConfig.sceneView.viewpoint = activeViewpoint;
          appConfig.sceneView.container = appConfig.container;
          appConfig.activeView = appConfig.sceneView;
          switchButton.value = "2D";
        }
      }

    });
  </script>
{% endblock %}


{% block app_content %}
<body>
  <div id="viewDiv"></div>
  <div id="infoDiv">
    <input class="esri-component esri-widget--button esri-widget esri-interactive"
      type="button" id="switch-btn" value="3D">
  </div>
</body>
{% endblock %}
